numpy  # ==1.22.2
scipy
tensorflow==2.8.0
tensorflow-probability==0.16.0
tensorflow-addons==0.16.1
box2d
gym==0.22.0
gym[box2d]
# ale-py + gym[accept-rom-license]
pygame
# opencv-python
# networkx
matplotlib
# scikit-learn
pybullet
cloudpickle

