numpy  # ==1.21.4  # numpy==1.18.5
scipy
tensorflow==2.8.0
tensorflow-probability==0.16.0
tensorflow-addons
box2d
gym
pygame
gym[box2d]
# opencv-python
# networkx
matplotlib
scikit-learn
pybullet
cloudpickle

