numpy==1.22.2
scipy
tensorflow==2.8.0
tensorflow-probability==0.16.0
tensorflow-addons==0.16.1
box2d
gym==0.22.0
pygame
# gym[box2d]
# opencv-python
# networkx
matplotlib
scikit-learn
pybullet
cloudpickle

